* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*
.menu {
  display: flex;
  justify-content: space-around;
}

.menu-items {
  display: flex;
  padding-top: 1rem;
}

.menu-items li {
  list-style: none;
  margin-right: 2rem;
}

.menu-items a {
  color: black;
  text-decoration: none;
}

.logo {
  width: 3rem;
}

.banner-image {
  height: 60vh;
  padding: 8rem;
}

.banner-image h1 {
  line-height: 3rem;
  font-size: 40px;
  width: 50%;
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: transparent;
  padding: 0.6rem 2rem;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  margin-right: 0.5rem;
  transition: all 0.5s ease;
}

.buttonsGroup {
  padding-top: 2rem;
}

.content {
  display: flex;
}

.content-text {
  padding-top: 7rem;
}

.title-line {
  width: 4rem;
  height: 5px;
  background-color: #1E75AD;
  border-radius: 5px;
}

.content-text h2 {
  text-transform: uppercase;
}

.content-text p {
  color: rgb(97, 97, 97);
  line-height: 1.8rem;
  margin-top: 20px;
}

.content-services {
  margin: 10rem 0rem;
  padding: 8rem;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service-card {
  background-image: url('/images/image-ac.jpg');
  background-size: cover;
  margin: 1rem 1rem 0rem 0rem;
  border-radius: 5px;
  padding: 60px 20px 20px 20px;
  width: 20rem;
  height: 12rem;
  color: #fff;
}

.service-card p {
  line-height: 20px;
  font-size: 14px;
}

.forms input, textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
}

.forms_input {
  display: flex;
  margin: 1rem 0rem 1rem 0rem;
}

.send-message {
  width: 70%;
  padding: 8rem;
}
  */